<div class="single-post-card col-md-4 mb-4 rounded" id="<%= post_path(post.id) %>">
  <div class="card">
    <div class="card-header">
      <h5 class="card-subtitle text-muted">
        <%= truncate(post.title, length: 60 ) %>
      </h5>
    </div>
    <div class="card-body">
      <h3><%= post.title %></h3>
      <p class="card-text"><%= post.content %></p>
    </div>
    <div class="card-footer">
      <span class="d-block"><%= post.user.name %></span>
      <%= link_to "I'm interested", post_path(post), class: 'interested' %>
    </div>
  </div>
</div>
